params {
    // general 
    datadir = "./data"
    outdir  = "./results"
    fasta   = "${params.datadir}/T2T-CHM13v2-chr21.fasta" // define your reference fasta file 
    reads   = "${params.datadir}/HG002_subsampled.fastq" // input fastq file 

    // read filtering criteria
    qscore = "10" // phred-like quality score
    minlength = "1000" // read length (in bp)

    // evaluation criteria to include sample in downstream analysis
    


}