params {
    // general 
    datadir = "./data"
    outdir  = "./results"
    fasta   = "${params.datadir}/T2T-CHM13v2-chr21.fasta" // define your reference fasta file 
    reads   = "${params.datadir}/HG002_subsampled.fastq" // input fastq file 

    // read filtering criteria
    qscore = "10" // phred-like quality score
    minlength = "1000" // read length (in bp)

    // evaluation criteria to include sample in downstream analysis
    params.pct_filtered = "80" // minimum percentage of raw reads that passed filtering criteria 
    params.pct_mapped = "50" // minimum percentage of filtered reads that was mapped to reference sequence
    params.coverage = "10" // minimum read coverage of reference sequence
    params.filt_n50 = "5000" // minimum N50 read value of filtered reads 
}